.card-body-valores {
  flex: 1 1 auto;
  min-height: 1px;
  padding: 0 1.25rem;
}

.cabecalho {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.valor-pgto {
  font-weight: bold;
}

.tbody-home {
  font-size: 12px;
}

.tbody-home tr:hover {
  background-color: cornflowerblue;
  color: aliceblue;
}

.tbody-home tr td a:hover {
  background-color: cornflowerblue;
  color: aliceblue;
}

.table-home td:last-child{
  text-align: right;
  padding: 0 8px 0 0;
}

.table-home tr:hover {
  background-color: cornflowerblue;
  color: aliceblue;
}

.table-thead-home tr {
  text-transform: uppercase;
  font-size: 13px;
}

.situacao-title {
  padding: 0 5px;
}

.situacao-pgto {
  margin: auto;
  padding: 0 5px;
  width: max-content;
  border-radius: 25px;
  text-transform: uppercase;
  font-size: 12px;
}

.situacao-pgto.aberto {
  background-color: var(--yellow);
  color: black;
}

.situacao-pgto.pago {
  background-color: yellowgreen;
  color: white;
}

.situacao-pgto.vencido {
  background-color: red;
  color: white;
}