.novo-botao-func {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 0 15px 0;
}

.novo-botao-func .rotulo-main-pagina {
  margin: 0;
}

.btn-search {
  background-color: var(--azul);
  color: aliceblue;
}

.btn-search:hover {
  background-color: cadetblue;
  color: aliceblue;
}

.button-new {
  background-color: var(--azul);
  color: var(--white);
  text-decoration: none;
  padding: 5px;
  border-radius: 5px;
  font-family: inherit;
  font-size: inherit;
  font-weight: bold;
  line-height: inherit;
  border-width: 2px;
  border-style: outset;
  border-image: initial;
}

.button-new:hover {
  text-decoration: none;
  text-transform: none;
  color: white;
}

.tbody-func tr:hover {
  background-color: cornflowerblue;
  color: aliceblue;
}
.menu-edita-cadastro {
  display: flex;
  column-gap: 5px;
  align-items: baseline;
}

.botoes-edita-registro {
  background-color: var(--azul);
  color: white;
  padding: 2px 6px;
  border-radius: 3px;
  font-weight: bold;
  margin: 0;
}

.botoes-edita-registro:hover {
  cursor: pointer;
}

.edita-registro {
  background-color: var(--azul);
  color: white;
  padding: 2px 6px;
  border-radius: 3px;
  font-weight: bold;
}

.edita-registro:hover {
  color: white;
  text-decoration: none;
  text-transform: none;
}

#navegar {
  background-color: var(--azul);
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 16px;
  border-width: 2px;
  border-style: outset;
  border-image: initial;
  /* border-color: -internal-light-dark(rgb(118, 118, 118), rgb(133, 133, 133)); */
}