:root {
  --vermelho: #e66848;
  --azul: #398CBF;
  --cinza: #f0f0f0;
}

.cad-func {
  width: 100%;
  max-width: 1340px;
  min-height: 100%;
  margin: 0 auto 10px auto;
  background-color: var(--cinza);
  padding: 10px;
  border-radius: 10px;
}

.rotulo {
  margin: 5px 0;
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
}

.sub-rotulo {
  margin: 5px 0;
  font-size: 12px;
  font-weight: bold;
  text-transform: uppercase;
}

.bloco-1 {
  border-right-color: black;
  border-right-style: solid;
  border-right-width: 1px;
  border-bottom-color: black;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-left-color: black;
  border-left-style: solid;
  border-left-width: 1px;
  border-bottom-right-radius: 6px;
  border-bottom-left-radius: 6px;
  box-shadow: 1px 2px gray, 0px 0 0px;
  padding: 0 5px 10px 5px;
  margin: 0 0 15px 0;
  display: flex;
  justify-content: space-between;
}

.select-texto-conta {
  width: 190px;
  height: 28px;
  font-size: 16px;
  text-transform: uppercase;
  border-radius: 5px;
  border-width: 2px;
  border-style: inset;
  border-image: initial;
  color: var(--blue);
}

.label-salario {
  border-width: 2px;
  border-style: inset;
  border-color: rgb(118, 118, 118);
  border-image: initial;
  padding: 0 5px 0 5px;
  width: 115px;
  font-size: 16px;
  text-transform: uppercase;
  border-radius: 5px;
  margin: 0;
  font-weight: bold;
  background-color: honeydew;
  color: black;
}

.bloco-2 {
  border-right-color: black;
  border-right-style: solid;
  border-right-width: 1px;
  border-bottom-color: black;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-left-color: black;
  border-left-style: solid;
  border-left-width: 1px;
  border-bottom-right-radius: 6px;
  border-bottom-left-radius: 6px;
  box-shadow: 1px 2px gray, 0px 0 0px;
  padding: 0 5px 10px 5px;
  margin: 0 0 15px 0;
  display: grid;
  grid-template-columns: 1fr;
  column-gap: 13px;
  row-gap: 5px;
}

.bloco-2-1 {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  column-gap: 13px;
  row-gap: 5px;
  margin: 0 0 10px 0;
}

.bloco-2-2 {
  display: grid;
  grid-template-columns: 460px 1fr;
  column-gap: 13px;
  row-gap: 5px;
  margin: 0 0 10px 0;
}

.bloco-2-3 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 13px;
  row-gap: 5px;
  margin: 0 0 10px 0;
}

.natural_de {
  border-right: 2px solid;
}

.filiacao {
  border-left: 2px solid;
  padding: 0 0 0 10px;
}

.rotulo-endereco {
  margin: 0 0 10px 0;
  padding: 0 0 23px 0;
  height: 20px;
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
  border-bottom: 1px solid;
}

.endereco {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 10px;
}

.bairro-uf {
  display: flex;
  column-gap: 5px;
}

.bairro,
.cidade-func {
  width: 200px;
  height: 28px;
  font-size: 16px;
  padding: 0 5px 0 5px;
  margin: 0 10px 0 0;
  border-radius: 5px;
  margin: 0;
  color: var(--blue);
}

.uf_end {
  width: 40px;
  height: 28px;
  font-size: 16px;
  padding: 0 5px;
  border-radius: 5px;
  margin: 0;
  color: var(--blue);
}

.bloco-3 {
  border-right-color: black;
  border-right-style: solid;
  border-right-width: 1px;
  border-bottom-color: black;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-left-color: black;
  border-left-style: solid;
  border-left-width: 1px;
  border-bottom-right-radius: 6px;
  border-bottom-left-radius: 6px;
  box-shadow: 1px 2px gray, 0px 0 0px;
  padding: 0 5px 10px 5px;
  margin: 0 0 15px 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.bloco-3 div select {
  width: 130px;
  height: 28px;
  font-size: 16px;
  text-transform: uppercase;
  border-radius: 5px;
  border-width: 2px;
  border-style: inset;
  border-image: initial;
  color: var(--blue);
}

.est-civil {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 0;
  border-right: 2px solid;
  padding: 0 5px 0 0;
}

.modulo {
  margin: 0;
}

.modulo div {
  margin: 0 0 3px 0;
}

.bloco-4 {
  border-right-color: black;
  border-right-style: solid;
  border-right-width: 1px;
  border-bottom-color: black;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-left-color: black;
  border-left-style: solid;
  border-left-width: 1px;
  border-bottom-right-radius: 6px;
  border-bottom-left-radius: 6px;
  box-shadow: 1px 2px gray, 0px 0 0px;
  padding: 0 5px 10px 5px;
  margin: 0 0 15px 0;
  column-gap: 5px;
}

.dados-telefone {
  display: grid;
  margin: 0px 0px 5px 5px;
}

.dados-conta-banco {
  display: flex;
  justify-content: space-between;
}

.campos-dados-banco {
  width: 190px;
  height: 28px;
  font-size: 16px;
  padding: 0 5px;
  border-radius: 5px;
  margin: 0;
  color: var(--blue);
}

form button {
  background-color: var(--azul);
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  padding: 3px 10px;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}

#cancelar {
  background-color: var(--azul);
  color: var(--white);
  text-decoration: none;
  padding: 5px;
  border-radius: 5px;
  font-family: inherit;
  font-size: inherit;
  text-transform: uppercase;
  margin: 0 5px 0 0;
  line-height: inherit;
  border-width: 2px;
  border-style: outset;
  border-image: initial;
  border-color: white;
}

#cancelar:hover {
  text-decoration: none;
  background-color: var(--blue);
}

.crud-button {
  display: flex;
  justify-content: end;
}

.submit-crud-button {
  background-color: var(--azul);
  color: var(--white);
  text-decoration: none;
  padding: 5px;
  border-radius: 5px;
  font-family: inherit;
  font-size: inherit;
  text-transform: uppercase;
  margin: 0 5px 0 0;
  line-height: inherit;
  border-width: 2px;
  border-style: outset;
  border-image: initial;
  border-color: white;
}

.delete-crud-button {
  background-color: var(--vermelho);
  color: var(--white);
  text-decoration: none;
  padding: 5px;
  border-radius: 5px;
  font-family: inherit;
  font-size: inherit;
  text-transform: uppercase;
  margin: 0 5px 0 0;
  line-height: inherit;
  border-width: 2px;
  border-style: outset;
  border-image: initial;
  border-color: white;
}

.cancel-crud-button {
  background-color: var(--azul);
  color: var(--white);
  color: white;  
  padding: 5px;
  border-radius: 5px;
  font-family: inherit;
  font-size: inherit;
  text-transform: uppercase;
  margin: 0 5px 0 0;
  line-height: inherit;
  border-width: 2px;
  border-style: outset;
  border-image: initial;
}

.submit-crud-button:hover {
  background-color: var(--blue);
}
.delete-crud-button:hover {
  background-color: var(--blue);
}