/* ==== MODAL ==== */

.modal-overlay {
  background-color: rgba(0, 0, 0, 0.6);
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0px;
  opacity: 0;
  visibility: hidden;
}

.modal-dependente {
  background-color: white;
  width: 600px;
  height: auto;
  margin: 10vh auto;
  padding: 0 0 15px 0;
  border-radius: 8px;
  position: relative;
}

.modal-dependente .close-modal-dependente i {
  color: red;
  position: absolute;
  right: 5px;
  top: 5px;
  cursor: pointer;
}

/* === MODAL ATIVO === */
.modal-overlay.active {
  opacity: 1;
  visibility: visible;
}

.dados-filhos div:nth-child(2) input {
  width: 122px;
}

.filhos {
  padding: 0 0 0px 5px;
}

.add-filho {
  margin: 0 0 10px 0;
}

.add-filho a {
  background-color: #398CBF;
  color: white;
  font-size: 12px;
  text-decoration: none;
  text-transform: uppercase;
  padding: 5px 10px;
  border-radius: 5px;
  border-width: 2px;
  border-style: outset;
  border-image: initial;
}

.dados-filhos {
  display: flex;
  column-gap: 10px;
  margin: 0 0 15px 0;
}

.dados-filhos div input {
  width: 100%;
  height: 28px;
  font-size: 16px;
  padding: 0 5px;
  border-radius: 5px;
  margin: 0;
}