{% extends 'layout.njk' %}

{% block head %}
  <title>Formulário de Funcionários</title>
{% endblock %}

{% block content %}
  <div class="container-fluid">

    <!-- Page Heading -->
    <div class="novo-botao-func">
      <h1 class="h3 mb-2 text-gray-800">Formulário de Cadastro de Novo Funcionário</h1>
    </div>

    <p class="mb-4">Preencha todos os campos para incluir o novo funcionário.</p>

    <div class="mb-4">
      <div class="cad-func">
        <form action="/cadastros/funcionarios" method="POST">

          {# **** BLOCO 1 **** #}
          <div class="bloco-1">          
            <div> {# FUNÇÃO #}
              <div class="rotulo">Função</div>
              <select class="select-texto" name="funcao" id="selectFuncao" onchange="salarioFuncao()"> {#  onchange="salarioFuncao()" #}
                <option>Selecione</option>
                <option value="Pedreiro">Pedreiro</option>
                <option value="Ajudante Comum">Ajudante Comum</option>
                <option value="Ajudante Prático">Ajudante Prático</option>
                <option value="Encarregado">Encarregado</option>
                <option value="Arquiteto">Arquiteto</option>
                <option value="Administrador">Administrador</option>
              </select>
            </div>

            <div> {# CENTRO DE CUSTO #}
              <div  class="rotulo">Setor: </div>
              <select class="select-texto" name="centro_custo_id">
                <option>Selecione</option>
                {% for cliente in clienteName %}
                  <option
                    value="{{cliente.id}}"
                    {% if cliente.id == funcionario.centro_custo_id %}
                      selected
                    {% endif %}
                  >{{cliente.nome}}</option>
                {% endfor %}
              </select>
            </div>
            
            <div> {# QUANDO SELECINAR A FUNÇÃO EXIBIR O VALOR #}
              <div class="rotulo">Salário</div>
              <input
                class="campo-salario"
                id="valorSalario"
                placeholder="R$ 00.000,00"
                type="text"
                name="salario"  
                onkeydown="Mask.apply(this, 'formatBRL')"
              >
            </div>

            <div> {# TIPO CONTRATO #}
              <div class="rotulo">Tipo do Contrato</div>
              <select class="select-texto" name="tipo_contrato">
                <option>Selecione uma opção</option>
                <option value="45 + 45">Experiência de 45 dias + 45 dias</option>
                <option value="30 + 60">Experiência de 30 dias + 60 dias</option>
                <option value="Definitivo">Definitivo</option>
              </select>
            </div>

            <div> {# DATA #}
              <div class="rotulo">Data da admissão</div>
              <input
              class="data"
                placeholder="DD/MM/AAAA"
                type="text"
                name="data_admissao"
                onkeydown="Mask.apply(this, 'data')"
              >
            </div>          
          </div>

          {# **** BLOCO 2 **** #}
          <div class="bloco-2">
            <div class="bloco-2-1">
              <div> {# NOME #}
                <div class="rotulo">Nome completo</div>
                <input class="nome" placeholder="Dígite o nome completo..." type="text" name="nome">
              </div>

              <div> {# CPF #}
                <div class="rotulo">CPF</div>
                <input
                  class="cpf-pis-rg"
                  placeholder="000.000.000-00"
                  type="text"
                  name="cpf"
                  onkeydown="Mask.apply(this, 'cpf')"
                >
              </div>

              <div> {# PIS #}
                <div class="rotulo">PIS</div>
                <input
                  class="cpf-pis-rg"
                  placeholder="000.00000.00-0"
                  type="text"
                  name="pis"
                  onkeydown="Mask.apply(this, 'nPis')"
                >
              </div>

              <div> {# RG #}
                <div class="rotulo">RG</div>
                <input class="cpf-pis-rg" placeholder="Dígite o RG..." type="text" name="rg">
              </div>

              <div> {# NASCIMENTO #}
                <div class="rotulo">Nascimento</div>
                <input
                  class="data"
                  placeholder="DD/MM/AAAA"
                  type="text"
                  name="nascimento"
                  onkeydown="Mask.apply(this, 'data')"
                >
              </div>
            </div>

            <div class="bloco-2-2">
              <div class="ctps-titulo-border"> {# CTPS #}
                <div>
                  <label class="rotulo">CTPS: </label>
                  <input class="ctps-titulo" placeholder="Dígite o CTPS..." type="text" name="ctps">
                </div>

                <div> {# SÉRIE #}
                  <label class="rotulo">Série: </label>
                  <input class="campo-6-digitos" placeholder="Série" type="text" name="serie_ctps">
                </div>

                <div> {# UF #}
                  <label class="rotulo">UF: </label>
                  <select class="select-uf" name="uf_ctps">
                    <option value="BA">BA</option>
                    <option value="PE">PE</option>
                    <option value="SP">SP</option>
                  </select>
                </div>
              </div>
              
              <div class="ctps-titulo-border"> {# TÍTULO #}
                <div> {# TÍTULO #}
                  <label class="rotulo">Título de Eleitor: </label>
                  <input
                    class="ctps-titulo"
                    placeholder="0000 0000 0000"
                    type="text"
                    name="titulo_eleitor"
                    onkeydown="Mask.apply(this, 'titulo')"
                  >
                </div>

                <div> {# ZONA #}
                  <label class="rotulo">Zona: </label>
                  <input
                    class="campo-4-digitos"
                    placeholder="000"
                    type="text"
                    name="zona_titulo"
                    onkeydown="Mask.apply(this, 'zonaSecao')"
                  >
                </div>

                <div> {# SEÇÃO #}
                  <label class="rotulo">Seção: </label>
                  <input
                    class="campo-4-digitos"
                    placeholder="000"
                    type="text"
                    name="secao_titulo"
                    onkeydown="Mask.apply(this, 'zonaSecao')"
                  >
                </div>
              </div>
            </div>

            <div> {# PAÍS #}
              <label for="" class="rotulo">
                País: 
                <select class="select-texto" id="pais" name="nacionalidade">
                </select>
              </label>

              <label id="campo_estado" class="rotulo">
                UF: 
                <select class="select-texto" id="estado" name="uf"></select>
              </label>
            
              <label id="campo_cidade" class="rotulo">
                Cidade: 
                <select class="select-texto" id="cidade" name="naturalidade_id"></select>
              </label>              
            </div>
            
            <div class="bloco-2-3">
              <div> {# ENDEREÇO #}
                <div class="rotulo-endereco">Endereço</div>
                  <div class="endereco">

                  <div> {# CEP #}
                    <div class="sub-rotulo">CEP</div>
                    <input
                      id="cep"
                      class="cep"
                      placeholder="00.000-000"
                      type="text"
                      name="cep"
                      onkeydown="Mask.apply(this, 'cep')"
                      onblur="pesquisacep(this.value)"
                    >
                  </div>

                  <div> {# RUA #}
                    <div class="sub-rotulo">Logradouro</div>
                    <input
                      id="rua-funcio" 
                      class="logradouro" 
                      placeholder="Rua, Av." 
                      type="text" 
                      name="endereco">
                  </div>

                  <div> {# Nº #}
                    <div class="sub-rotulo">Número</div>
                    <input 
                      class="campo-6-digitos" 
                      placeholder="Nº" 
                      type="text" 
                      name="numero_end"
                    >
                  </div>

                  <div class="bairro-uf">  {# BAIRRO #}
                    <div>
                      <div class="sub-rotulo">Bairro</div>
                      <input 
                        id="bairro-funcio" 
                        class="bairro" 
                        placeholder="Informe o bairro" 
                        type="text" 
                        name="bairro">
                    </div>

                    <div> {# CIDADE #}
                      <div class="sub-rotulo">Cidade</div>
                      <input 
                        id="cidade-funcio" 
                        class="cidade-func" 
                        placeholder="Informe a cidade" 
                        type="text" 
                        name="cidade_end">
                    </div>

                    <div> {# UF #}
                      <div class="sub-rotulo">UF</div>
                      <input 
                        id="uf-funcio" 
                        class="uf_end" 
                        placeholder="UF" 
                        type="text" 
                        name="uf_end">
                    </div>
                  </div>

                  <input type="hidden" name="" id="ibge">
                </div>                
              </div>

              <div class="filiacao" class="rotulo"> {# FILIAÇÃO #}
                <div class="rotulo-endereco">Filiação</div>
                <div class="modulo">
                  <div>
                    <div class="sub-rotulo">Nome da Mãe</div>
                    <input class="nome" placeholder="Informe o nome da Mãe" type="text" name="nome_mae">
                  </div>

                  <div>
                    <div class="sub-rotulo">Nome do Pai</div>
                    <input class="nome" placeholder="Informe o nome do Pai" type="text" name="nome_pai">
                  </div>
                </div>
              </div>
              
            </div>
          </div>

          {# **** BLOCO 3 **** #}
          <div class="bloco-3">
            <div class="est-civil"> {# ESTADO CIVIL #}
              <div>
                <span class="rotulo">Estado Civil: </span>
                <select name="estado_civil">
                  <option value="casado">Casado</option>
                  <option value="solteiro">Solteiro</option>
                  <option value="divorciado">Divorciado</option>
                </select>
              </div>

              <div>
                {# SE SELECINAR CASADO DESBLOQUEAR O CAMPO DO NOME DO CONJUGE #}
                <span class="rotulo">Conjuge: </span>
                <input class="nome" placeholder="Informe o nome do conjuge" type="text" name="conjuge">
              </div>
            </div>

            <div class="telefone-border"> {# TELEFONES #}
              <div>
                <span class="rotulo">Celular: </span>
                <input
                  class="telefone"
                  type="text"
                  name="telefone[]"
                  placeholder="(00) 0 0000-0000"
                  onkeydown="Mask.apply(this, 'celular')"
                >
              </div>

              <div>
                <span class="rotulo">Telefone: </span>
                <input
                  class="telefone"
                  type="text"
                  name="telefone[]"
                  placeholder="(00) 0000-0000"
                  onkeydown="Mask.apply(this, 'telefone')"
                >
              </div>
            </div>
          </div>

          {# **** BLOCO 4 **** #}
          <div class="bloco-4">
            <div class="rotulo-endereco">Dados bancários</div>
            <div> {# BANCO #}
              <span class="rotulo">Banco: </span>
              <input
                class="campos-dados-banco"
                type="text"
                name="dados_conta[]"
                placeholder="Nome do Banco"
              >

              <span class="rotulo">Tipo: </span>
              <select class="select-texto-conta" name="dados_conta[]">
                <option>Selecione</option>
                <option value="Conta Corrente">Conta Corrente</option>
                <option value="Conta Poupança">Conta Poupança</option>
              </select>

              <span class="rotulo">Ag.: </span>
              <input
                class="campos-dados-banco"
                type="text"
                name="dados_conta[]"
                placeholder="0000"
              >

              <span class="rotulo">Conta: </span>
              <input
                class="campos-dados-banco"
                type="text"
                name="dados_conta[]"
                placeholder="Nº cem o dígito"
                onkeydown="Mask.apply(this, 'conta')"
              >
            </div>          
          </div>

          <button type="submit">Cadastrar</button>
          <a id="cancelar" href="/cadastros/funcionarios">Cancelar</a>
        </form>
      </div>
    </div>
    
  </div>
  <!-- /.container-fluid -->
{% endblock %}

{% block scripts %}
  <script src="/js/scriptsApiExterna.js"></script>
{% endblock scripts %}