{% extends 'layout.njk' %}

{% block head %}
  <title>{{funcionario.nome}} | REDSS</title>
{% endblock %}

{% block content %}
  <div class="container-fluid">

    <!-- Page Heading -->
    <h1 class="h3 mb-2 text-gray-800">{{funcionario.nome}}</h1>

    <!-- DataTales Example -->
    <div class="card shadow mb-4">
      <div class="card-header py-3 edit-data-registro">
        <h6 class="m-0 font-weight-bold text-primary"><strong>FUNÇÃO: </strong>{{funcionario.funcao}}</h6>
        <div class="menu-edita-cadastro">
          <p id="open-modal-dependente" class="botoes-edita-registro" onclick="modalDependente()">Incluir Dependente</p>
          <p class="botoes-edita-registro" >Documentos</p>
          <a class="edita-registro" href="/cadastros/funcionarios/edit-funcionario/{{funcionario.id}}/editar">Editar</a>
        </div>
      </div>

      <div class="card-body">
        <div> {# CENTRO DE CUSTO #}
          <span class="rotulo">
            <strong>Centro de Custo: </strong>
          </span>
          <label class="label-all">{{funcionario.cencusto}}</label>
        </div>

        <div> {# DATA ADMISSÃO #}
          <span class="rotulo">
            <strong>Admissão: </strong>
          </span>
          <label class="label-all">{{funcionario.data_admissao}}</label>
        </div>

        <div> {# SALÁRIO #}
          <span class="rotulo">
            <strong>Salário: </strong>
          </span>
          <label class="label-all">{{funcionario.salario}}</label>
        </div>

        <div> {# TIPO CONTRATO #}
          <span class="rotulo">
            <strong>Tipo do Contrato: </strong>
          </span>
          <label class="label-all">{{funcionario.tipo_contrato}}</label>
        </div>
        <!-- Divider -->
        <hr class="sidebar-divider my-0">

        <div> {# CPF #}
          <span class="rotulo">
            <strong>CPF: </strong>
          </span>
          <label class="label-all">{{funcionario.cpf}}</label>
        </div>

        <div> {# RG #}
          <span class="rotulo">
            <strong>RG: </strong>
          </span>
          <label class="label-all">{{funcionario.rg}}</label>
        </div>

        <div> {# PIS #}
          <span class="rotulo">
            <strong>PIS: </strong>
          </span>
          <label class="label-all">{{funcionario.pis}}</label>
        </div>

        <div> {# CTPS #}
          <span class="rotulo">
            <strong>CTPS: </strong>
          </span>
          <label class="label-all">{{funcionario.ctps}} / <strong>Série: </strong>{{funcionario.serie_ctps}} / <strong>UF: </strong>{{funcionario.uf_ctps}}</label>
        </div>

        <div> {# TÍTULO ELEITOR #}
          <span class="rotulo">
            <strong>Título de Eleitor: </strong>
          </span>
          <label class="label-all">{{funcionario.titulo_eleitor}} / <strong>Zona: </strong>{{funcionario.zona_titulo}} / <strong>Seção: </strong>{{funcionario.zona_titulo}}</label>
        </div>
        <!-- Divider -->
        <hr class="sidebar-divider my-0">

        <div> {# NASCIMENTO #}
          <span class="rotulo">
            <strong>Nascimento: </strong>
          </span>
          <label class="label-all">{{funcionario.nascimento}} <strong>Idade: </strong>{{funcionario.idade}}</label>
        </div>

        <div> {# NACIONALIDADE #}
          <span class="rotulo">
            <strong>Nacionalidade: </strong>
          </span>
          <label class="label-all">{{funcionario.nacionalidade}}</label>
        </div>

        <div> {# NATURAL DE #}
          <span class="rotulo">
            <strong>Natural de: </strong>
          </span>
          <label class="label-all">{{funcionario.naturalidade_id}} / {{funcionario.uf}}</label>
        </div>
        <!-- Divider -->
        <hr class="sidebar-divider my-0">

        <div> {# FILIAÇÃO #}
          <span class="rotulo">
            <strong>Filiação</strong>
          </span>
          <p></p>
        </div>

        <div> {# MÃE #}
          <span class="rotulo">
            <strong>Nome da Mãe: </strong>
          </span>
          <label class="label-all">{{funcionario.nome_mae}}</label>
        </div>

        <div> {# PAI #}
          <span class="rotulo">
            <strong>Nome do Pai: </strong>
          </span>
          <label class="label-all">{{funcionario.nome_pai}}</label>
        </div>
        <!-- Divider -->
        <hr class="sidebar-divider my-0">

        <div> {# ENDEREÇO E CONTATO #}
          <span class="rotulo">
            <strong>Endereço e Contatos</strong>
          </span>
          <p></p>
        </div>

        <div> {# TELEFONES #}
          <span class="rotulo">
            <strong>Telefones: </strong>
          </span>
          <label class="label-all">{{funcionario.telefone}}</label>
        </div>

        <div> {# CEP #}
          <span class="rotulo">
            <strong>CEP: </strong>
          </span>
          <label class="label-all">{{funcionario.cep}}</label>
        </div>

        <div> {# LOGRADOOURO #}
          <span class="rotulo">
            <strong>Logradouro: </strong>
          </span>
          <label class="label-all">{{funcionario.endereco}}, Nº: {{funcionario.numero_end}}</label>
        </div>

        <div> {# BAIRRO #}
          <span class="rotulo">
            <strong>Bairro: </strong>
          </span>
          <label class="label-all">{{funcionario.bairro}} - Salvador/BA</strong></label>
        </div>
        <!-- Divider -->
        <hr class="sidebar-divider my-0">

        <div> {# ESDADO CIVIL #}
          <span class="rotulo">
            <strong>Estado Civil: </strong>
          </span>
          <label class="label-all">{{funcionario.estado_civil}} <strong>Cônjuge: </strong>{{funcionario.conjuge}}</label>
        </div>
        <!-- Divider -->
        <hr class="sidebar-divider my-0">

        <div> {# DEPENDENTES #}
          <span class="rotulo">
            <strong>Dependentes</strong>
          </span>
          <p></p>
        </div>

        <div> {# FILHOS #}
          <span class="rotulo">
            <strong>Filho: </strong>
          </span>
          <label class="label-all">{{funcionario.filhos}} <strong>Nascimento: </strong>CPF: <strong></strong></label>
        </div>
      </div>      
    </div>
    
  </div>
  <!-- /.container-fluid -->
  {% include 'parts/modal-dependente.njk' %}
{% endblock %}