{% extends 'layout.njk' %}

{% block head %}
  <title>{{fornecedor.nome_fantasia}} | REDSS</title>
{% endblock %}

{% block content %}
  <div class="container-fluid">

<!-- Page Heading -->
    <div class="novo-botao-func">
      <h1 class="h3 mb-2 text-gray-800">Edição do Fornecedor: <strong>{{fornecedor.nome_fantasia}}</strong></h1>
    </div>

    <p class="mb-4">Preencha todos os campos para atualizar o cadastro.</p>

    <div class="mb-4">
      <div class="cad-cliente">
        <form id="salva_fornecedor" action="/cadastros/fornecedores?_method=PUT" method="post">
          <div class="form-cliente">

            <div> {# 1 - PJ OU PF #}
              <div class="rotulo">
                Tipo
              </div>
              
              <span class="span-pj-pf">
                <input 
                  class="radio"
                  type="radio" 
                  name="pj_pf" 
                  value="Pessoa Jurídica" 
                  {% if fornecedor.pj_pf == "Pessoa Jurídica" %}
                    checked
                  {% endif %}>Pessoa Jurídica
              </span>

              <span class="span-pj-pf">
                <input 
                  class="radio"
                  type="radio" 
                  name="pj_pf" 
                  value="Pessoa Física"
                  {% if fornecedor.pj_pf == "Pessoa Física" %}
                    checked
                  {% endif %}>Pessoa Física
              </span>
              
            </div>

            <div>{# 2 - RAZÃO SOCIAL #}
              <div class="rotulo">
                Razão Social: 
              </div>
              <input
                class="campos-padrao-edite"
                placeholder="Nome / Razão Social"
                type="text"
                name="nome_razao"
                value="{{ fornecedor.nome_razao }}"
              >
            </div>

            <div> {# 3 - NOME FANTASIA #}
              <div class="rotulo">
                Nome Fantasia: 
              </div>
              <input
                class="campos-padrao-edite"
                placeholder="Nome Fantasia"
                type="text"
                name="nome_fantasia"
                value="{{ fornecedor.nome_fantasia }}"
              >
            </div>

             <div> {# 4 - CNPJ / CPF #}
              <div class="rotulo">
                CNPJ ou CPF: 
              </div>
              <input
                class="campos-padrao-edite"
                placeholder="Nº do CNPJ ou CPF"
                type="text"
                name="cnpj_cpf"
                value="{{ fornecedor.cnpj_cpf }}"
                onkeydown="Mask.apply(this, 'cpfCnpj')"
              >
            </div>

            <div> {# 5 - IE #}
              <div class="rotulo">
                Inscrição Estadual: 
              </div>
              <input
                class="campos-padrao-edite"
                placeholder="Inscrição Estadual"
                type="text"
                name="ie"
                value="{{ fornecedor.ie }}"
                
              > {# onkeydown="Mask.apply(this, 'formatBRL')" #}
            </div>

            <div> {# 6 - Inscrição Municipal #}
              <div class="rotulo">
                Inscrição Municipal: 
              </div>
              <input 
                class="data"
                placeholder="Inscrição Municipal"
                type="text"
                name="i_municipal"
                value="{{ fornecedor.i_municipal }}"
                
              > {# onkeydown="Mask.apply(this, 'data')" #}
            </div>

            <div> {# 7 - E-MAIL #}
              <div class="rotulo">
                E-MAIL: 
              </div>
              <input 
                class="campos-padrao-edite"
                placeholder="xxxxxx@xxx.xxx.xx"
                type="text"
                name="email"
                value="{{ fornecedor.email }}"
              > {# onkeydown="Mask.apply(this, 'data')" #}
            </div>

            <div> {# 8 - TELEFONE #}
              <div class="rotulo">
                Telefone: 
              </div>
              <input
                class="telefone"
                type="text"
                name="telefone[]"
                placeholder="(00) 0000-0000"
                onkeydown="Mask.apply(this, 'telefone')"
                value="{{ fornecedor.telefone }}"
              >
            </div>

            <div> {# 9 - WHATSAPP #}
              <div class="rotulo">
                WhatsApp: 
              </div>
              <input
                class="telefone"
                type="text"
                name="whatsapp"
                placeholder="(00) 9 0000-0000"
                value="{{ fornecedor.whatsapp }}"
                onkeydown="Mask.apply(this, 'celular')"
              >
            </div>
            
            <div> {# 10 - CELULAR #}
              <div class="rotulo">
                Celular: 
              </div>
              <input
                class="telefone"
                type="text"
                name="celular[]"
                placeholder="(00) 0 0000-0000"
                value="{{ fornecedor.celular }}"
                onkeydown="Mask.apply(this, 'celular')"
              >
            </div>

            <div> {# 11 - CONTATO #}
              <div class="rotulo">
                CONTATO: 
              </div>
              <input 
                class="campos-padrao-edite"
                placeholder="Nome do contato"
                type="text"
                name="contato"
                value="{{ fornecedor.contato }}"
              >
            </div>

            <div> {# 12 - CEP #}
              <div class="rotulo">CEP: </div>
              <input
                id="cep"
                class="cep"
                placeholder="00.000-000"
                type="text"
                name="cep"
                value="{{ fornecedor.cep }}"
                onkeydown="Mask.apply(this, 'cep')"
                onblur="pesquisacep(this.value)"
                >
            </div>

            <div> {# 13 - ENDEREÇO #}
              <div class="rotulo">Logradouro: </div>
              <input
                id="rua-funcio"
                class="campos-padrao-edite"
                placeholder="Rua, Av."
                type="text"
                name="endereco"
                value="{{ fornecedor.endereco }}"
                >
            </div>

            <div> {# 14 - NÚMERO #}
              <div class="rotulo">Nº: </div>
              <input
                class="campo-6-digitos"
                placeholder="Nº ou S/N."
                type="text"
                name="numero_end"
                value="{{ fornecedor.numero_end }}"
                >
            </div>

            <div> {# 15 - BAIRRO #}
              <div class="rotulo">Bairro: </div>
              <input
                id="bairro-funcio"
                class="campos-padrao-edite"
                placeholder="Nome do bairro."
                type="text"
                name="bairro"
                value="{{ fornecedor.bairro }}"
                >
            </div>

            <div> {# 16 - CIDADE #}
              <div class="rotulo">Cidade: </div>
              <input
                id="cidade-funcio"
                class="campos-padrao-edite"
                placeholder="Cidade"
                type="text"
                name="cidade_end"
                value="{{ fornecedor.cidade_end }}"
              >
            </div>

            <div> {# 17 - UF #}
              <div class="rotulo">UF: </div>
              <input 
                id="uf-funcio"
                class="campo-6-digitos" 
                placeholder="UF" 
                type="text" 
                name="uf_end"
                value="{{ fornecedor.uf_end }}"
              >
            </div>

            <input type="hidden" name="" id="ibge">
          </div>
          <input type="hidden" name="id" value="{{ fornecedor.id }}">
        </form>

        <div class="crud-button">
          <button class="submit-crud-button" form="salva_fornecedor" type="submit">Atualizar</button>

          <form id="form-delete" action="/cadastros/fornecedores?_method=DELETE" method="post">
            <input type="hidden" name="id" value="{{ fornecedor.id }}">
            <button class="delete-crud-button" type="submit" onclick="alertDelete()">Deletar</button>
          </form>

          <a id="cancelar" href="/cadastros/fornecedores/show-fornecedor/{{fornecedor.id}}">Cancelar</a>
        </div>
      </div>
    </div>

  </div>
  <!-- /.container-fluid -->
{% endblock %}

{% block scripts %}
  <script src="/js/scriptsApiExterna.js"></script>
{% endblock scripts %}
