{% extends 'layout.njk' %}

{% block head %}
  <title>{{fornecedor.nome_fantasia}} | REDSS</title>
{% endblock %}

{% block content %}
  <div class="container-fluid">

    <!-- Page Heading -->
    <div class="novo-botao-func">
      <h1 class="h3 mb-2 text-gray-800">Dados do Fornecedor: <strong style="text-transform: uppercase">{{fornecedor.nome_fantasia}}</strong></h1>
    </div>
    
    <!-- DataTales Example -->
    <div class="card shadow mb-4">
      <div class="card-header py-3 edit-data-registro">
        <h6 class="m-0 font-weight-bold text-primary">{{fornecedor.nome_razao}}</h6>
        <a class="edita-registro" href="/cadastros/fornecedores/edit-fornecedor/{{fornecedor.id}}/editar">Editar</a>
      </div>

      <div class="card-body">
        <div> {# 1 - PJ ou PF #}
          <span class="rotulo">
            <strong>TIPO: </strong>
          </span>
          <label class="label-all">{{fornecedor.pj_pf}}</label>
        </div>

        <div> {# 2 - CNPJ ou CPF #}
          <span class="rotulo">
            <strong>CNPJ / CPF: </strong>
          </span>
          <label class="label-all">{{fornecedor.cnpj_cpf}}</label>
        </div>

        <div> {# 3 - INSCRIÇÃO ESTADUAL #}
          <span class="rotulo">
            <strong>Inscrição Estadual: </strong>
          </span>
          <label class="label-all">
            {% if fornecedor.ie == "" %}
              Isento
            {% else %}
              {{fornecedor.ie}}
            {% endif %}
          </label>
        </div>

        <div> {# 4 - INSCRIÇÃO MUNICIPAL #}
          <span class="rotulo">
            <strong>Inscrição Municipal: </strong>
          </span>
          <label class="label-all">{{fornecedor.i_municipal}}</label>
        </div>
        <!-- Divider -->
        <hr class="sidebar-divider my-0">

        <div> {# 5 - E-MAIL #}
          <span class="rotulo">
            <strong>E-mail: </strong>
          </span>
          <label class="label-email">{{fornecedor.email}}</label>
        </div>

        <div> {# 6 - TELEFONE #}
          <span class="rotulo">
            <strong>Telefone: </strong>
          </span>
          <label class="label-all">{{fornecedor.telefone}}</label>
        </div>

        <div> {# 7 - WHATSAPP #}
          <span class="rotulo">
            <strong>WhatsApp: </strong>
          </span>
          <label class="label-all">{{fornecedor.whatsapp}}</label>
        </div>

        <div> {# 8 - CELULAR #}
          <span class="rotulo">
            <strong>Celular: </strong>
          </span>
          <label class="label-all">{{fornecedor.celular}}</label>
        </div>

        <div> {# 9 - Contato #}
          <span class="rotulo">
            <strong>Contato: </strong>
          </span>
          <label class="label-all">{{fornecedor.contato}}</label>
        </div>

        <div> {# 10 - ENDEREÇO #}
          <span class="rotulo">
            <strong>Endereço: </strong>
          </span>
          <label class="label-all">{{fornecedor.endereco}}, <strong>Nº: </strong>{{fornecedor.numero_end}}, {{fornecedor.bairro}}</label>
        </div>

        <div> {# 11 - CEP e CIDADE #}
          <span class="rotulo">
            <strong>CEP: </strong>
          </span>
          <label class="label-all">{{fornecedor.cep}}, {{fornecedor.cidade_end}}/{{fornecedor.uf_end}}</label>
        </div>
        <!-- Divider -->
        <hr class="sidebar-divider my-0 bar-divider-voltar">

        <a class="edita-registro" href="/cadastros/fornecedores">Voltar</a>
      </div>
    </div>
    
  </div>
  <!-- /.container-fluid -->
{% endblock %}