{% extends 'layout.njk' %}

{% block content %}	
	<div class="container-fluid">

		<!-- Page Heading - TÍTULO DASHBOARD -->
		<div class="d-sm-flex align-items-center justify-content-between mb-4">
			<h1 class="h3 mb-0 text-gray-800">Dashboard</h1>
			<a class="button-new" href="#" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i
				class="fas fa-download fa-sm text-white-50"></i> Gerar Relatório</a>
		</div>

		<!-- Content Row - VALORES -->
		{% include 'parts/atalho-valores/atalho-valores.njk' %}

		<!-- TABELA RESMO DOS PAGAMENTOS -->
		<div class="card shadow mb-4">

			<div class="card-header py-3 cabecalho">
				<h6 class="m-0 font-weight-bold text-primary">Contas a pagar</h6>
				<div>
					<a class="edita-registro" href="/cadastros/funcionarios">Adicinar</a>
					<a class="edita-registro" href="/cadastros/funcionarios">Atualizar</a>
				</div>
			</div>

			<div class="card-body">
				<div class="text-center">
					
					<div class="table-responsive">              
						<table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
							<thead class="table-thead-home">
								<tr>
									<th>Vencimento</th>
									<th>Cedente</th>
									<th>Descrição</th>
									<th>Setor</th>
									<th>Doc.</th>
									<th>Competência</th>
									<th>Situação</th>
									<th>Detalhes</th>
									<th>Valor</th>
								</tr>
							</thead>

							<tbody class="table-home">
								{# {% for funcionario in funcionarios %} #}
									<tr>
										<td>20/07/2021</td>
										<td>Folha de Pagamento</td>
										<td>Adiantamento Mensal 07/2021</td>
										<td>MRV - Porto de Villas</td>
										<td>Holerites</td>
										<td>06/2021</td>
										<td><p class="situacao-alerta">A Vencer</p></td>
										<td><a class="ver-detalhes" href="/cadastros/funcionarios">Ver</a></td>
										<td class="valor-pgto">R$ 4.411,05</td>
									</tr>
									<tr>
										<td>12/07/2021</td>
										<td>Rocha Contabilidade</td>
										<td>Assessoria Contábil 07/2021</td>
										<td>ADM - CNPJ</td>
										<td>25713</td>
										<td>06/2021</td>
										<td><p class="situacao-vencido">Vencido</p></td>
										<td><a class="ver-detalhes" href="/cadastros/funcionarios">Ver</a></td>
										<td class="valor-pgto">R$ 700,00</td>
									</tr>
								{# {% endfor %} #}
							</tbody>
						</table>
					</div>

				</div>

				<a target="_self" href="/financeiro/despesas">Consultar programação completa &rarr;
				</a>
			</div>
		</div>

		<!-- Content Row GRÁFICOS -->
		<div class="row">

			<!-- Area Chart - GRÁFICO LINHA ONDULADA -->
			<div class="col-xl-8 col-lg-7">
				<div class="card shadow mb-4">
					<!-- Card Header - Dropdown -->
					<div
						class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
						<h6 class="m-0 font-weight-bold text-primary">Earnings Overview</h6>
						<div class="dropdown no-arrow">
							<a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
								data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
								<i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
							</a>
							<div class="dropdown-menu dropdown-menu-right shadow animated--fade-in"
								aria-labelledby="dropdownMenuLink">
								<div class="dropdown-header">Dropdown Header:</div>
								<a class="dropdown-item" href="#">Action</a>
								<a class="dropdown-item" href="#">Another action</a>
								<div class="dropdown-divider"></div>
								<a class="dropdown-item" href="#">Something else here</a>
							</div>
						</div>
					</div>
					<!-- Card Body -->
					<div class="card-body">
						<div class="chart-area">
							<canvas id="myAreaChart"></canvas>
						</div>
					</div>
				</div>
			</div>

			<!-- Project Card Example - LINHAS COLORIDAS -->
			<div class="col-xl-4 col-lg-5">
				<div class="card shadow mb-4">
					<div class="card-header py-3">
						<h6 class="m-0 font-weight-bold text-primary">Projects</h6>
					</div>
					<div class="card-body">
						<h4 class="small font-weight-bold">Server Migration <span
							class="float-right">20%</span></h4>
						<div class="progress mb-4">
							<div class="progress-bar bg-danger" role="progressbar" style="width: 20%"
								aria-valuenow="20" aria-valuemin="0" aria-valuemax="100"></div>
						</div>
						<h4 class="small font-weight-bold">Sales Tracking <span
							class="float-right">40%</span></h4>
						<div class="progress mb-4">
							<div class="progress-bar bg-warning" role="progressbar" style="width: 40%"
								aria-valuenow="40" aria-valuemin="0" aria-valuemax="100"></div>
						</div>
						<h4 class="small font-weight-bold">Customer Database <span
							class="float-right">60%</span></h4>
						<div class="progress mb-4">
							<div class="progress-bar" role="progressbar" style="width: 60%"
								aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"></div>
						</div>
						<h4 class="small font-weight-bold">Payout Details <span
							class="float-right">80%</span></h4>
						<div class="progress mb-4">
							<div class="progress-bar bg-info" role="progressbar" style="width: 80%"
								aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div>
						</div>
						<h4 class="small font-weight-bold">Account Setup <span
							class="float-right">Complete!</span></h4>
						<div class="progress">
							<div class="progress-bar bg-success" role="progressbar" style="width: 100%"
								aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
						</div>
					</div>
				</div>
			</div>

		</div>

		<!-- Content Row - OUTROS - DUAS COLUNAS -->
		<div class="row">

			<!-- Content Column - COLUNA(1) -->
			<div class="col-lg-6 mb-4">
				<div class="card shadow mb-4">
					<!-- Card Header - Dropdown -->
					<div
						class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
						<h6 class="m-0 font-weight-bold text-primary">Revenue Sources</h6>
						<div class="dropdown no-arrow">
							<a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
								data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
								<i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
							</a>
							<div class="dropdown-menu dropdown-menu-right shadow animated--fade-in"
								aria-labelledby="dropdownMenuLink">
								<div class="dropdown-header">Dropdown Header:</div>
								<a class="dropdown-item" href="#">Action</a>
								<a class="dropdown-item" href="#">Another action</a>
								<div class="dropdown-divider"></div>
								<a class="dropdown-item" href="#">Something else here</a>
							</div>
						</div>
					</div>
					<!-- Card Body -->
					<div class="card-body">
						<div class="chart-pie pt-4 pb-2">
							<canvas id="myPieChart"></canvas>
						</div>
						<div class="mt-4 text-center small">
							<span class="mr-2">
								<i class="fas fa-circle text-primary"></i> Direct
							</span>
							<span class="mr-2">
								<i class="fas fa-circle text-success"></i> Social
							</span>
							<span class="mr-2">
								<i class="fas fa-circle text-info"></i> Referral
							</span>
						</div>
					</div>
				</div>
			</div>

			<!-- Content Column - COLUNA(2) -->
			<div class="col-lg-6 mb-4">

				<!-- EXEMPLO + LOGO -->
				<div class="card shadow mb-4">
					<div class="card-header py-3">
						<h6 class="m-0 font-weight-bold text-primary">Informações</h6>
					</div>
					<div class="card-body">
						<div class="text-center">
							<img class="img-fluid px-3 px-sm-4 mt-3 mb-4" style="width: 25rem;"
								src="undraw_posting_photo.svg" alt="...">
						</div>
						<p>Add some quality, svg illustrations to your project courtesy of <a
							target="_blank" rel="nofollow" href="https://undraw.co/">unDraw</a>, a
							constantly updated collection of beautiful svg images that you can use
							completely free and without attribution!</p>
						<a target="_blank" rel="nofollow" href="https://undraw.co/">Browse Illustrations on
							unDraw &rarr;
						</a>
					</div>
				</div>

			</div>
		</div>

		{# </div> #}
		<!-- /.container-fluid -->

	</div>
{% endblock %}

{% block scripts %}
	<script src="/js/demo/chart-area-demo.js"></script>
	<script src="/js/demo/chart-pie-demo.js"></script>
{% endblock %}