{% extends 'layout.njk' %}

{% block head %}
  <title>Centro de Custo | REDSS</title>
{% endblock %}

{% block content %}	
	<div class="container-fluid">

		<!-- Page Heading -->
    <div class="novo-botao-func">
      <h1 class="h3 mb-2 text-gray-800">Centro de Custo / Clientes</h1>
      <a class="button-new" href="/cadastros/clientes/form-cliente">Cadastrar Novo</a>
    </div>

    <!-- DataTales Example -->
    <div class="card shadow mb-4">
      <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Contratos ativos</h6>
      </div>
      <div class="card-body">
        <div class="table-responsive">              
          <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
            <thead>
              <tr>
                <th>Nome</th>
                <th>CEI</th>
                <th>CNPJ</th>
                <th>Data do Contrato</th>
                <th>Valor do Cntrato</th>
                <th>Detalhes</th>
                </tr>
            </thead>
            <tbody class="tbody-func">
              {% for cliente in clientes %}
                <tr id="{{cliente.id}}">
                  <td>{{cliente.nome}}</td>
                  <td>
                    {% if cliente.cei == '' %}
                      ******
                    {% else %}
                      {{cliente.cei}}
                    {% endif %}                    
                  </td>
                  <td>{{cliente.cnpj_cpf}}</td>
                  <td>{{cliente.data_contrato}}</td>
                  <td>{{cliente.valor_contrato}}</td>
                  <td><a class="ver-detalhes" href="/cadastros/clientes/show-cliente/{{cliente.id}}">Editar</a></td>
                </tr>
              {% endfor %}
            </tbody>                
          </table>
        </div>
      </div>
    </div>

	</div>
{% endblock %}