{% extends 'layout.njk' %}

{% block head %}
  <title>{{cliente.nome}} | REDSS</title>
{% endblock %}

{% block content %}
  <div class="container-fluid">

    <!-- Page Heading -->
    <div class="novo-botao-func">
      <h1 class="h3 mb-2 text-gray-800">Dados do Centro de Custo / Cliente</h1>
    </div>
    
    <!-- DataTales Example -->
    <div class="card shadow mb-4">
      <div class="card-header py-3 edit-data-registro">
        <h6 class="m-0 font-weight-bold text-primary">{{cliente.nome}}</h6>
        <a class="edita-registro" href="/cadastros/clientes/edit-cliente/{{cliente.id}}/editar">Editar</a>
      </div>

      <div class="card-body">
        <div class="card-body show-data-registro">
          <div>
            <span class="rotulo">
              <strong>CNPJ: </strong>
            </span>
            <label class="label-all">{{cliente.cnpj_cpf}}</label>
          </div>

          <div>
            <span class="rotulo">
              <strong>CEI: </strong>
            </span>
            <label class="label-all">
              {% if cliente.cei == '00.000.00000/00' %}
                Não Informado
              {% else %}
                {{cliente.cei}}
              {% endif %}
            </label>
          </div>

          <div>
            <span class="rotulo">
              <strong>Valor do Contrato: </strong>
            </span>
            <label class="label-all">{{cliente.valor_contrato}}</label>
          </div>

          <div>
            <span class="rotulo">
              <strong>Data da Assinatura: </strong>
            </span>
            <label class="label-all">{{cliente.data_contrato}}</label>
          </div>

          <div>
            <span class="rotulo">
              <strong>Logradouro: </strong>
            </span>
            <label class="label-all">{{cliente.endereco}}</label>
          </div>

          <div>
            <span class="rotulo">
              <strong>Nº: </strong>
            </span>
            <label class="label-all">{{cliente.numero_end}}</label>
          </div>

          <div>
            <span class="rotulo">
              <strong>Cidade: </strong>
            </span>
            <label class="label-all">{{cliente.cidade}}</label>
          </div>

          <div>
            <span class="rotulo">
              <strong>UF: </strong>
            </span>
            <label class="label-all">{{cliente.uf}}</label>
          </div>

          <div>
            <span class="rotulo">
              <strong>Data do Encerramento do Contrato: </strong>
            </span>
            <label class="label-all">{{cliente.data_fim_contrato}}</label>
          </div>
        </div>
        <!-- Divider -->
        <hr class="sidebar-divider my-0 bar-divider-voltar">
        
        <a class="edita-registro" href="/cadastros/clientes">Voltar</a>
      </div>
    </div>
    
  </div>
  <!-- /.container-fluid -->
{% endblock %}