<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	{# <link rel="icon" href="../../img/redss-logo.png"> #}
	{% block head %}
		<title>REDSS - ERP</title>
	{% endblock %}

	<!-- Custom fonts and styles for this template-->
	{% include 'parts/styles.njk' %}	
</head>

<body id="page-top">
	<!-- Page Wrapper -->
	<div id="wrapper">

		<!-- Sidebar -->
		<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

			<!-- Sidebar - LOGO -->
			<a class="sidebar-brand d-flex align-items-center justify-content-center" href="\">
				<div class="sidebar-brand-icon">{# rotate-n-15 #}					
					<i class="fas fas fa-hard-hat"></i>
				</div>
				<div class="sidebar-brand-text mx-3">JSG</div>
			</a>

			<!-- Divider -->
			<hr class="sidebar-divider my-0">

			<!-- DASHBOARD -->
			<li class="nav-item active">
				<a class="nav-link" href="\">
				<i class="fas fa-fw fa-tachometer-alt"></i>
				<span>Dashboard</span></a>
			</li>

			<!-- Divider -->
			<hr class="sidebar-divider">

			<!-- Heading - CONSULTAS -->
			<div class="sidebar-heading">
				Engenharia
			</div>

			<!-- ENGENHARIA -->
			<li class="nav-item"> <!-- CENTRO DE CUSTO -->
				<a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTwo"
					aria-expanded="true" aria-controls="collapseTwo">
					<i class="fas fa-fw fa-cog"></i>
					<span>Centro de Custo</span>
				</a>
				<div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
					<div class="bg-white py-2 collapse-inner rounded">
						<h6 class="collapse-header">Contratos ativos:</h6>
						<a class="collapse-item" href="buttons.html">MRV</a>
						<a class="collapse-item" href="cards.html">Odebretch</a>
					</div>
				</div>
			</li>

			<li class="nav-item"> <!-- FERRAMENTAS -->
				<a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseUtilities"
					aria-expanded="true" aria-controls="collapseUtilities">
					<i class="fas fa-fw fa-wrench"></i>
					<span>Ferramentas</span>
				</a>
				<div id="collapseUtilities" class="collapse" aria-labelledby="headingUtilities"
					data-parent="#accordionSidebar">
					<div class="bg-white py-2 collapse-inner rounded">
						<h6 class="collapse-header">Orçamentos:</h6>
						<a class="collapse-item" href="utilities-color.html">Orçamento</a>
						<a class="collapse-item" href="utilities-border.html">Ordem de Compra</a>
					</div>
				</div>
			</li>

			<!-- Divider -->
			<hr class="sidebar-divider">

			<!-- ADMINISTRATIVO -->
			<div class="sidebar-heading">
				Administrativo
			</div>

			<!-- FINANCEIRO  -->
			<li class="nav-item">
				<a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseFinanceiroo"
						aria-expanded="true" aria-controls="collapseFinanceiroo">
					<i class="fas fa-fw fa-table"></i>
					<span>Financeiro</span>
				</a>
				<div id="collapseFinanceiroo" class="collapse" aria-labelledby="headingPages" data-parent="#accordionSidebar">
					<div class="bg-white py-2 collapse-inner rounded">
						<h6 class="collapse-header">Pagamentos:</h6>
						<a class="collapse-item" href="/financeiro/despesas">Contas a Pagar</a>
						<a class="collapse-item" href="/financeiro/entradas">Contas a Receber</a>
						<a class="collapse-item" href="/graficos"><div class="link-grafico"><i class="fas fa-fw fa-chart-area"></i><span>Gráficos</span></div></a>
						<h6 class="collapse-header">Contábil:</h6>
						<a class="collapse-item" href="forgot-password.html">Balanço</a>
						<a class="collapse-item" href="forgot-password.html">Escrituração</a>
					</div>
				</div>
			</li>

			<!-- CADASTROS  -->
			<li class="nav-item">
				<a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseCadastro"
						aria-expanded="true" aria-controls="collapseCadastro">
					<i class="fas fa-fw fa-folder"></i>
					<span>Cadastros</span>
				</a>
				<div id="collapseCadastro" class="collapse" aria-labelledby="headingPages" data-parent="#accordionSidebar">
					<div class="bg-white py-2 collapse-inner rounded">
						<h6 class="collapse-header">Serviços:</h6>
						<a class="collapse-item" href="/cadastros/funcionarios">Funcionários</a>
						<a class="collapse-item" href="/cadastros/fornecedores">Fornecedores</a>
						<a class="collapse-item" href="/cadastros/clientes">Clientes | Setor</a>
						<a class="collapse-item" href="/cadastros/fornecedores">Empreiteiros</a>
						<h6 class="collapse-header">Projetos:</h6>
						<a class="collapse-item" href="forgot-password.html">Urbanização</a>
						<a class="collapse-item" href="forgot-password.html">Arquitetura</a>
					</div>
				</div>
			</li>

			<!-- GRÁFICOS -->
			<li class="nav-item">
				<a class="nav-link" href="/graficos">
					<i class="fas fa-fw fa-chart-area"></i>
					<span>Gráficos</span>
				</a>
			</li>

			<!-- CONTÁBIL -->
			<li class="nav-item">
				<a class="nav-link" href="/financeiro/despesas">
					<i class="fas fa-fw fa-calculator"></i>
					<span>Contábil</span>
				</a>
			</li>

			<!-- PAGES  -->
			<li class="nav-item">
				<a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapsePages"
						aria-expanded="true" aria-controls="collapsePages">
					<i class="fas fa-fw fa-folder"></i>
					<span>Pages</span>
				</a>
				<div id="collapsePages" class="collapse" aria-labelledby="headingPages" data-parent="#accordionSidebar">
					<div class="bg-white py-2 collapse-inner rounded">
						<h6 class="collapse-header">Login Screens:</h6>
						<a class="collapse-item" href="login.html">Login</a>
						<a class="collapse-item" href="register.html">Register</a>
						<a class="collapse-item" href="forgot-password.html">Forgot Password</a>
						<div class="collapse-divider"></div>
						<h6 class="collapse-header">Other Pages:</h6>
						<a class="collapse-item" href="404.html">404 Page</a>
						<a class="collapse-item" href="blank.html">Blank Page</a>
					</div>
				</div>
			</li>

			<!-- Divider -->
			<hr class="sidebar-divider d-none d-md-block">

			<!-- Sidebar Toggler (Sidebar) -->
			<div class="text-center d-none d-md-inline">
				<button class="rounded-circle border-0" id="sidebarToggle"></button>
			</div>

		</ul>
		<!-- End of Sidebar -->

		<!-- Content Wrapper -->
		<div id="content-wrapper" class="d-flex flex-column">

			<!-- Topbar -->
			{% include 'parts/header.njk' %}
			<!-- End of Topbar -->

			<!-- Main Content -->
			<div id="content">

				<!-- Begin Page Content -->
				{% block content %}{% endblock %}
				<!-- End of Begin Page Content -->				

			</div>
			<!-- End of Main Content -->

			<!-- Footer -->
			{% include 'parts/footer.njk' %}
			<!-- End of Footer -->

		</div>
		<!-- End of Content Wrapper -->
		
	</div>
	<!-- End of Page Wrapper -->

	<!-- Scroll to Top Button-->
	<a class="scroll-to-top rounded" href="#page-top">
		<i class="fas fa-angle-up"></i>
	</a>

	<!-- Bootstrap core JavaScript-->
	<script src="/vendor/jquery/jquery.min.js"></script>
	<script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

	<!-- Core plugin JavaScript-->
	<script src="/vendor/jquery-easing/jquery.easing.min.js"></script>

	<!-- Custom scripts for all pages-->
	<script src="/js/sb-admin-2.min.js"></script>
	<script src="/js/scripts.js"></script>

	<!-- Page level plugins -->
	<script src="/vendor/chart.js/Chart.min.js"></script>

	<!-- Page level custom scripts -->
	{% block scripts %}{% endblock %}

</body>
</html>