{% extends 'layout.njk' %}

{% block head %}
  <title>Novo Pagamento</title>
{% endblock %}

{% block content %}
  <div class="container-fluid">

  <!-- Page Heading -->
    <div class="novo-botao-func">
      <h1 class="h3 mb-2 text-gray-800">Inclusão de novo pagamento</h1>
    </div>

    <p class="mb-4">Preencha todos os campos para incluir a nova despesa.</p>
    <p class="rotulo-data">Data: 28/04/2022</p>
    <div class="mb-4">
      <div class="cad-cliente">
        <form action="/cadastros/clientes" method="POST">

          <div class="form-cliente">
            <div>
              <div class="rotulo">
                Documento: 
              </div>
              <select name="centro_custo_id" select-texto="">
                <option value="">NF</option>
                <option value="">Recibo</option>
                <option value="">Fatura</option>
              </select>
            </div>

            <div>
              <div class="rotulo">
                Data da Emissão: 
              </div>
              <input 
                class="data-contrato"
                placeholder="DD/MM/AAAA"
                type="text"
                name="data_contrato"
                onkeydown="Mask.apply(this, 'data')"
              >
              {# <input
                class="fields-cliente"
                placeholder="00.000.00000/00"
                type="text"
                name="cei"
                onkeydown="Mask.apply(this, 'cei')"
              > #}
            </div>

            <div>
              <div class="rotulo">
                Fornecedor: 
              </div>
              <input
                class="fields-cliente"
                placeholder="Nome do Fornecedor"
                type="text"
                name="cnpj_cpf"
              >
            </div>

            <div>
              <div class="rotulo">
                CNPJ / CPF: 
              </div>
              <input
                class="fields-cliente"
                placeholder="Nº do CNPJ ou CPF"
                type="text"
                name="cnpj_cpf"
                onkeydown="Mask.apply(this, 'cpfCnpj')"
              >
            {# </div> #}
              {# <input
                class="fields-cliente"
                placeholder="R$ 000.000,00"
                type="text"
                name="valor_contrato"
                onkeydown="Mask.apply(this, 'formatBRL')"
              > #}
            </div>

            <div>
              <div class="rotulo">
                Vencimento: 
              </div>
              <input 
                class="data-contrato"
                placeholder="DD/MM/AAAA"
                type="text"
                name="data_contrato"
                onkeydown="Mask.apply(this, 'data')"
              >
            </div>

            <div>
              <div class="rotulo">Categoria: </div>
              <select name="centro_custo_id" select-texto="">
                <option value="">Selecione</option>
                <option value="">Materiais</option>
                <option value="">Ferramentas</option>
                <option value="">Transporte</option>
                <option value="">Imposto</option>
              </select>
            </div>

            <div>
              <div class="rotulo">XML: </div>
              <input
                class="fields-cliente"
                placeholder="Código XML"
                type="text"
                name="xml"
                >
            </div>

            <div>
              <div class="rotulo">Valor: </div>
              <input
                class="fields-cliente"
                placeholder="R$ 000,00"
                type="text"
                name="valor"
                >
            </div>

          </div>

          <button type="submit">Cadastrar</button>
          <a id="cancelar" href="/cadastros/clientes">Cancelar</a>
        </form>
      </div>
    </div>

  </div>
  <!-- /.container-fluid -->
{% endblock %}

{% block scripts %}
  <script src="/js/scriptsApiExterna.js"></script>
{% endblock scripts %}
