{% extends 'layout.njk' %}

{% block head %}
  <title>Contas a Pagar | REDSS</title>
{% endblock %}

{% block content %}
  <div class="container-fluid">

    <!-- Page Heading -->
    <h1 class="h3 mb-2 text-gray-800">Contas a Pagar</h1><br>

    <!-- DataTales Example -->
    <div class="card shadow mb-4">
      <div class="card-header py-3 cabecalho">
        <h6 class="m-0 font-weight-bold text-primary"><strong>Contas vencidas: </strong>{{sumOverDue}}</h6>
        <a class="edita-registro" href="/financeiro/despesas/form-inclui-pgto">Adicionar</a>
      </div>
      <div class="card-body">
        <div class="table-responsive">              
          <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
            <thead class="table-thead-home">
              <tr>
                <th>Vencimento</th>
                <th>Cedente</th>
                <th>Setor</th>
                <th>Doc.</th>
                <th>Competência</th>
                <th>Situação</th>
                <th>Detalhes</th>
                <th>Valor</th>
                <th>Data Pgto.</th>
              </tr>
            </thead>

            <tbody class="tbody-home">
              {% for expense in expenses %}
                <tr>
                  <td>{{expense.data_vencimento}}</td>
                  <td>{{expense.nome_fantasia}}</td>
                  <td>{{expense.nome_setor}}</td>
                  <td>{{expense.numero_doc}}</td>
                  <td>06/2021</td>
                  <td>
                    {% if expense.status_pgto == "PAGO" %}
                      <p class="situacao-pgto pago">{{expense.status_pgto}}</p>
                    {% elseif expense.status_pgto == "EM ABERTO" %}
                      <p class="situacao-pgto aberto">{{expense.status_pgto}}</p>
                    {% elseif expense.status_pgto == "VENCIDO" %}
                      <p class="situacao-pgto vencido">{{expense.status_pgto}}</p>
                    {% endif %}
                  </td>
                  <td><a class="ver-detalhes" href="/financeiro/despesas/show-despesa/{{expense.id}}">Ver</a></td>
                  <td class="valor-pgto">{{expense.valor}}</td>
                  {% if expense.data_pagamento != "" %}
                    <td>{{expense.data_pagamento}}</td>
                  {% else %}
                    <td>--</td>
                  {% endif %}
                </tr>
              {% endfor %}
            </tbody>                
          </table>
        </div>
      </div>
    </div>

  </div>
  <!-- /.container-fluid -->
{% endblock %}