{% extends 'layout.njk' %}

{% block head %}
  <title>Contas a Pagar | REDSS</title>
{% endblock %}

{% block content %}
  <div class="container-fluid">

    <!-- Page Heading -->
    <h1 class="h3 mb-2 text-gray-800">Contas a Pagar</h1><br>

    <!-- DataTales Example -->
    <div class="card shadow mb-4">
      <div class="card-header py-3 cabecalho">
        <h6 class="m-0 font-weight-bold text-primary"><strong>Contas vencidas: </strong>R$ 2.500,00</h6>
        <a class="edita-registro" href="/financeiro/despesas/form-inclui-pgto">Adicionar</a>
      </div>
      <div class="card-body">
        <div class="table-responsive">              
          <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
            <thead class="table-thead-home">
              <tr>
                <th>Vencimento</th>
                <th>Data Pgto.</th>
                <th>Cedente</th>
                <th>Descrição</th>
                <th>Setor</th>
                <th>Doc.</th>
                <th>Competência</th>
                <th>Situação</th>
                <th>Detalhes</th>
                <th>Valor</th>
              </tr>
            </thead>

            <tbody class="tbody-home">
              {# {% for funcionario in funcionarios %} #}
                <tr>
                  <td>20/07/2021</td>
                  <td></td>
                  <td>Folha de Pagamento</td>
                  <td>Adiantamento Mensal 07/2021</td>
                  <td>MRV - Porto de Villas</td>
                  <td>Holerites</td>
                  <td>06/2021</td>
                  <td><p class="situacao-alerta">A Vencer</p></td>
                  <td><a class="ver-detalhes" href="/cadastros/funcionarios">Ver</a></td>
                  <td class="valor-pgto">R$ 4.411,05</td>
                </tr>
                <tr>
                  <td>12/07/2021</td>
                  <td></td>
                  <td>Rocha Contabilidade</td>
                  <td>Assessoria Contábil 07/2021</td>
                  <td>ADM - CNPJ</td>
                  <td>25713</td>
                  <td>06/2021</td>
                  <td><p class="situacao-vencido">Vencido</p></td>
                  <td><a class="ver-detalhes" href="/cadastros/funcionarios">Ver</a></td>
                  <td class="valor-pgto">R$ 700,00</td>
                </tr>
                <tr>
                  <td>12/07/2021</td>
                  <td>07/07/2021</td>
                  <td>Ótimus</td>
                  <td>Endereço virtual</td>
                  <td>ADM - CNPJ</td>
                  <td>103511</td>
                  <td>06/2021</td>
                  <td><p class="situacao-pago">Pago</p></td>
                  <td><a class="ver-detalhes" href="/cadastros/funcionarios">Ver</a></td>
                  <td class="valor-pgto">R$ 158,00</td>
                </tr>
              {# {% endfor %} #}
            </tbody>                
          </table>
        </div>
      </div>
    </div>

  </div>
  <!-- /.container-fluid -->
{% endblock %}