{% extends 'layout.njk' %}

{% block head %}
  <title>Fornecedor: {{expense.nome_fantasia}} | REDSS</title>
{% endblock %}

{% block content %}
  <div class="container-fluid">
    <!-- Page Heading -->

    <!-- DataTales Example -->
    <div class="card shadow mb-4">
      <div class="card-header py-3 edit-data-registro">
        <h6 class="m-0 font-weight-bold text-primary"><strong>{{expense.nome_fantasia}} | </strong><strong>CPF/CNPJ: </strong>{{expense.cpf_cnpj}}</h6>
        
        <div class="menu-edita-cadastro">
          <a class="edita-registro" href="/cadastros/funcionarios/edit-funcionario/{{expense.id}}/editar">Editar</a>
        </div>
      </div>

      <div class="card-body">
        <div> {# 3 STATUS #}
          <span class="rotulo">
            <strong>Status do Pagamento: </strong>
          </span>
          {% if expense.status_pgto == "PAGO" %}
            <label class="situacao-pgto pago">{{expense.status_pgto}}</label>
          {% elseif expense.status_pgto == "EM ABERTO" %}
            <label class="situacao-pgto aberto">{{expense.status_pgto}}</label>
          {% elseif expense.status_pgto == "VENCIDO" %}
            <label class="situacao-pgto vencido">{{expense.status_pgto}}</label>
          {% endif %}
        </div>

        <div> {# 4 VALOR #}
          <span class="rotulo">
            <strong>Valor: </strong>
          </span>
          <label class="label-all">{{expense.valor}}</label>
        </div>

        <div> {# 5 VENCIMENTO #}
          <span class="rotulo">
            <strong>Data do Vencimento: </strong>
          </span>
          <label class="label-all">{{expense.data_vencimento}}</label>
        </div>

        <div> {# 6 DATA EMISSÃO #}
          <span class="rotulo">
            <strong>Data de Emissão: </strong>
          </span>
          <label class="label-all">{{expense.data_emissao}}</label>
        </div>

        <div> {# 7 DOCUMENTO #}
          <span class="rotulo">
            <strong>Nº do Documento: </strong>
          </span>
          <label class="label-all">{{expense.numero_doc}}</label>
        </div>

        <div> {# 8 COMPETENCIA #}
          <span class="rotulo">
            <strong>Competência: </strong>
          </span>
          <label class="label-all">{{expense.competencia}}</label>
        </div>

        <div> {# 9 CENTRO DE CUSTO #}
          <span class="rotulo">
            <strong>Setor: </strong>
          </span>
          <label class="label-all">{{expense.nome_setor}}</label>
        </div>

        <div> {# 10 TIPO DOCUMENTO #}
          <span class="rotulo">
            <strong>Documento: </strong>
          </span>
          <label class="label-all">{{expense.nome}}</label>
        </div>

        <div> {# 11 DESCRIÇÃO #}
          <span class="rotulo">
            <strong>Descrição: </strong>
          </span>
          <label class="label-all">{{expense.descricao}}</label>
        </div>

        <div> {# 12 CLASSE CONTÁBIL #}
          <span class="rotulo">
            <strong>Escrituração Contábil: </strong>
          </span>
          <label class="label-all">{{expense.classe_contabil}}</label>
        </div>

        <div> {# 13 DATA PAGAMENTO #}
          <span class="rotulo">
            <strong>Data do Pagamento: </strong>
          </span>
          <label class="label-all">{{expense.data_pagamento}}</label>
        </div>

        <!-- Divider -->
        <hr class="sidebar-divider my-0 bar-divider-voltar">

        <div> {# ANEXOS #}
          <span class="rotulo">
            <strong>Anexos</strong>
          </span>
          <p></p>
        </div>

        <!-- Divider -->
        <hr class="sidebar-divider my-0 bar-divider-voltar">

        <div class="cad-expense">
          <a class="edita-registro" href="/financeiro/despesas">Voltar</a>
          <div class="created-updated">
            <label class="label-all">Data do Cadastro: {{expense.created_at}} | </label><label class="label-all">Última Atualização: {{expense.updated_at}}</label>
          </div>
        </div>
        
      </div>
    </div>
    
  </div>
  <!-- /.container-fluid -->

{% endblock %}