<!-- Modal -->
<div class="modal">
  <div class="modal-on">
    <div class="image-modal" id="">
      <img id="" style="" onclick="modalDescPrato()"> 
    </div>
    <div>
      <h3></h3>
      <p></p>
      <button class="close">Fechar</button>
    </div>
  </div>
</div>